In [2]:
import numpy as np
import pandas as pd

In [3]:
# Load the datasets
evapotranspiration = pd.read_csv("D:/DS & ML/CSVs/Kosakzi/Kosaksi-Pasapugazh-and-experiments/data/raw/Environment - ICRISAT/Evapotranspiration actual.csv")
evapotranspiration = evapotranspiration.drop(columns = ['Annual Evapotranspiration (mm)'])#optional
precipitation = pd.read_csv("D:/DS & ML/CSVs/Kosakzi/Kosaksi-Pasapugazh-and-experiments/data/raw/Environment - ICRISAT\Precipitation.csv")
precipitation = precipitation.drop(columns = ['Annual Precipitation (mm)'])#optional
fertilizer_consumption = pd.read_csv("D:/DS & ML/CSVs/Kosakzi/Kosaksi-Pasapugazh-and-experiments/data/raw/Environment - ICRISAT/Fertilizers consumption.csv")

In [4]:
# Display the first few rows of each dataset
print("Evapotranspiration Data:")
evapotranspiration.head()

Evapotranspiration Data:

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY ACTUAL (Millimeters),FEBRUARY ACTUAL (Millimeters),MARCH ACTUAL (Millimeters),APRIL ACTUAL (Millimeters),MAY ACTUAL (Millimeters),JUNE ACTUAL (Millimeters),JULY ACTUAL (Millimeters),AUGUST ACTUAL (Millimeters),SEPTEMBER ACTUAL (Millimeters),OCTOBER ACTUAL (Millimeters),NOVEMBER ACTUAL (Millimeters),DECEMBER ACTUAL (Millimeters)
0,1,1958,14,Chhattisgarh,Durg,39.81,33.58,35.32,25.41,12.38,108.40,113.93,107.43,112.77,103.98,59.69,39.09
1,1,1959,14,Chhattisgarh,Durg,44.33,39.74,17.59,37.66,23.66,174.99,113.04,106.29,112.63,98.10,52.13,39.38
2,1,1960,14,Chhattisgarh,Durg,44.14,32.28,72.23,29.58,17.11,169.81,113.30,113.01,113.60,96.19,54.09,39.94
3,1,1961,14,Chhattisgarh,Durg,38.51,38.18,33.91,20.39,30.75,174.10,111.19,107.96,114.05,102.45,53.19,42.69
4,1,1962,14,Chhattisgarh,Durg,37.73,45.88,52.07,43.81,27.70,86.88,112.45,107.46,112.05,72.95,46.40,60.18

In [5]:
print("\nPrecipitation Data:")
precipitation.head()

Precipitation Data:

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),JULY PERCIPITATION (Millimeters),AUGUST PERCIPITATION (Millimeters),SEPTEMBER PERCIPITATION (Millimeters),OCTOBER PERCIPITATION (Millimeters),NOVEMBER PERCIPITATION (Millimeters),DECEMBER PERCIPITATION (Millimeters)
0,1,1958,14,Chhattisgarh,Durg,2.38,2.56,21.02,16.93,6.36,109.24,393.08,392.54,354.79,86.11,4.32,0.00
1,1,1959,14,Chhattisgarh,Durg,11.22,6.86,1.52,29.44,18.03,228.39,467.90,312.90,402.07,69.34,0.00,1.06
2,1,1960,14,Chhattisgarh,Durg,15.24,0.00,59.47,21.14,11.24,178.34,492.84,252.01,158.82,69.31,0.00,0.00
3,1,1961,14,Chhattisgarh,Durg,3.41,10.91,20.35,12.03,25.91,186.70,482.50,410.70,507.11,86.30,0.94,7.32
4,1,1962,14,Chhattisgarh,Durg,107.55,75.15,55.73,44.66,37.40,32.23,251.48,251.84,251.84,183.22,138.37,124.88

In [6]:
print("\nFertilizer Consumption Data:")
fertilizer_consumption.head()

Fertilizer Consumption Data:

,Dist Code,Year,State Code,State Name,Dist Name,NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),NITROGEN PER HA OF GCA (Kg per ha),PHOSPHATE CONSUMPTION (tons),PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1,1990,14,Chhattisgarh,Durg,11776.0,60.3,21.68,15.54,5834.0,29.9,10.74,7.70,1915.0,9.8,3.53,2.53,19525.0,35.95,25.76
1,1,1991,14,Chhattisgarh,Durg,12401.0,48.1,22.74,16.35,9870.0,38.3,18.10,13.01,3528.0,13.7,6.47,4.65,25799.0,47.31,34.02
2,1,1992,14,Chhattisgarh,Durg,17443.0,54.3,31.89,22.94,10561.0,32.9,19.31,13.89,4119.0,12.8,7.53,5.42,32123.0,58.74,42.24
3,1,1993,14,Chhattisgarh,Durg,14996.0,58.4,27.28,18.83,8640.0,33.7,15.71,10.85,2040.0,7.9,3.71,2.56,25676.0,46.70,32.24
4,1,1994,14,Chhattisgarh,Durg,18021.0,62.7,32.70,22.02,8502.0,29.6,15.43,10.39,2236.0,7.8,4.06,2.73,28759.0,52.19,35.14

In [7]:
cols1 = evapotranspiration.columns[5:]
cols2 = precipitation.columns[5:]
print(cols1,cols2,sep = "\n")

Index(['JANUARY ACTUAL (Millimeters)', 'FEBRUARY ACTUAL (Millimeters)',
       'MARCH ACTUAL (Millimeters)', 'APRIL ACTUAL (Millimeters)',
       'MAY ACTUAL (Millimeters)', 'JUNE ACTUAL (Millimeters)',
       'JULY ACTUAL (Millimeters)', 'AUGUST ACTUAL (Millimeters)',
       'SEPTEMBER ACTUAL (Millimeters)', 'OCTOBER ACTUAL (Millimeters)',
       'NOVEMBER ACTUAL (Millimeters)', 'DECEMBER ACTUAL (Millimeters)'],
      dtype='object')
Index(['JANUARY PERCIPITATION (Millimeters)',
       'FEBRUARY PERCIPITATION (Millimeters)',
       'MARCH PERCIPITATION (Millimeters)',
       'APRIL PERCIPITATION (Millimeters)', 'MAY PERCIPITATION (Millimeters)',
       'JUNE PERCIPITATION (Millimeters)', 'JULY PERCIPITATION (Millimeters)',
       'AUGUST PERCIPITATION (Millimeters)',
       'SEPTEMBER PERCIPITATION (Millimeters)',
       'OCTOBER PERCIPITATION (Millimeters)',
       'NOVEMBER PERCIPITATION (Millimeters)',
       'DECEMBER PERCIPITATION (Millimeters)'],
      dtype='object')

In [8]:
# Calculate annual evapotranspiration by summing the monthly columns
evapotranspiration['annual_evapotranspiration'] = evapotranspiration[cols1].sum(axis=1)

# Calculate annual precipitation by summing the monthly columns
precipitation['annual_precipitation'] = precipitation[cols2].sum(axis=1)

In [9]:
evapotranspiration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32074 entries, 0 to 32073
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Dist Code                       32074 non-null  int64
 1   Year                            32074 non-null  int64
 2   State Code                      32074 non-null  int64
 3   State Name                      32074 non-null  object
 4   Dist Name                       32074 non-null  object
 5   JANUARY ACTUAL (Millimeters)    32074 non-null  float64
 6   FEBRUARY ACTUAL (Millimeters)   32074 non-null  float64
 7   MARCH ACTUAL (Millimeters)      32074 non-null  float64
 8   APRIL ACTUAL (Millimeters)      32074 non-null  float64
 9   MAY ACTUAL (Millimeters)        32074 non-null  float64
 10  JUNE ACTUAL (Millimeters)       32074 non-null  float64
 11  JULY ACTUAL (Millimeters)       32074 non-null  float64
 12  AUGUST ACTUAL (Millimeters)     32074 non-null  float64
 13  SEPTEMBER ACTUAL (Millimeters)  32074 non-null  float64
 14  OCTOBER ACTUAL (Millimeters)    32074 non-null  float64
 15  NOVEMBER ACTUAL (Millimeters)   32074 non-null  float64
 16  DECEMBER ACTUAL (Millimeters)   32074 non-null  float64
 17  annual_evapotranspiration       32074 non-null  float64
dtypes: float64(13), int64(3), object(2)
memory usage: 4.4+ MB

In [10]:
# Select relevant columns for merging
evapo_relevant = evapotranspiration[['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name', 'annual_evapotranspiration']]
precip_relevant = precipitation[['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name', 'annual_precipitation']]
fertilizer_relevant = fertilizer_consumption[['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name'] + [col for col in fertilizer_consumption.columns if col not in ['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name']]]

In [11]:
# Merge datasets on common columns
merged_data = pd.merge(evapo_relevant, precip_relevant, on=['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name'], how='outer')
final_data = pd.merge(merged_data, fertilizer_relevant, on=['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name'], how='inner')

In [12]:
# Display the first few rows of the final merged dataset
print("\nFinal Merged Data:")
final_data.head()

Final Merged Data:

,Dist Code,Year,State Code,State Name,Dist Name,annual_evapotranspiration,annual_precipitation,NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1,1990,14,Chhattisgarh,Durg,925.15,1654.20,11776.0,60.3,21.68,...,29.9,10.74,7.70,1915.0,9.8,3.53,2.53,19525.0,35.95,25.76
1,1,1991,14,Chhattisgarh,Durg,840.58,1210.07,12401.0,48.1,22.74,...,38.3,18.10,13.01,3528.0,13.7,6.47,4.65,25799.0,47.31,34.02
2,1,1992,14,Chhattisgarh,Durg,684.35,1048.53,17443.0,54.3,31.89,...,32.9,19.31,13.89,4119.0,12.8,7.53,5.42,32123.0,58.74,42.24
3,1,1993,14,Chhattisgarh,Durg,871.49,1324.36,14996.0,58.4,27.28,...,33.7,15.71,10.85,2040.0,7.9,3.71,2.56,25676.0,46.70,32.24
4,1,1994,14,Chhattisgarh,Durg,855.12,1651.93,18021.0,62.7,32.70,...,29.6,15.43,10.39,2236.0,7.8,4.06,2.73,28759.0,52.19,35.14

In [13]:
# Save the final dataset to a new CSV file
final_data.to_csv('Combined_Data.csv', index=False)

print("\nCombined data has been saved to 'Combined_Data.csv'.")

Combined data has been saved to 'Combined_Data.csv'.